<nav class="navbar  navbar-expand-lg bg-white sticky-top navbar-light p-0">
  <div class="contain px-sm-5 px-4">
    <a routerLink="/" class="navbar-brand">
      <img src="../../assets/images/logo.png" alt="petszone">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/" routerLinkActive="active_link"
          [routerLinkActiveOptions]="{ exact: true }">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/shop" routerLinkActive="active_link"
          [routerLinkActiveOptions]="{ exact: true }">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/pets" routerLinkActive="active_link"
          [routerLinkActiveOptions]="{ exact: true }">pets adoption</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/blogs" routerLinkActive="active_link"
          [routerLinkActiveOptions]="{ exact: true }">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/clinics" routerLinkActive="active_link"
          [routerLinkActiveOptions]="{ exact: true }">Clinics</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link mx-2" routerLink="/register" routerLinkActive="active_link"
          [routerLinkActiveOptions]="{ exact: true }">SignUp</a>
        </li>

      </ul>
      <a class="nav-link mx-2" routerLink="/cart" routerLinkActive="active_link"
      [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa-solid fa-paw sec-color"></i> Cart
      </a>
      <a class="nav-link mx-2 " routerLink="/account" routerLinkActive="active_link"
      [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa-solid fa-circle-user me-1 sec-color"></i> Account
      </a>
    </div>
  </div>
</nav>
<a routerLink="/pet-form"class="btn fixed-btn" download="">
  Add your pet</a>