<footer class="p-5">
    <div class="row position-relative justify-content-between pt-5 px-3">
        <div class="col-lg-5">
            <figure>
                <img src="../../assets/images/logo.png" alt="#" />
                <figcaption>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                        laborum, temporibus laudantium facilis praesentium blanditiis,
                        rerum repudiandae distinctio velit quos earum, assumenda
                        recusandae error fuga neque voluptatibus quo deleniti aut?.

                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-6">
            <div class="row mx-0">
                <div class="col-md-6 col-sm-12 ps-lg-5">
                    <h4 class="footer-title position-relative">Helpful Links</h4>
                    <ul class="list-unstyled pt-4">
                        <li><a routerLink="/pets">Pets Adoption</a></li>
                        <li><a routerLink="/shop">Shop</a></li>
                        <li><a routerLink="/clinics">Clinics</a></li>
                        <li><a routerLink="/blogs">Community</a></li>

                    </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h4 class="footer-title position-relative">Contacts</h4>
                    <ul class="list-unstyled pt-4">
                        <li>
                            <i class="fas fa-map-marker-alt sec-color"></i>
                            <span class="m-0">
                                Cairo, Egypt
                            </span>
                        </li>
                        <li>
                            <i class="fas fa-mobile-alt sec-color"></i>
                            <a href="#" class="d-inline mb-2 mx-2">+490 54 324 77</a>
                        </li>
                        <li>
                            <i class="far fa-envelope sec-color"></i>
                            <a href="#" class="d-inline mb-2 mx-2">info&#64;petsZone.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 copy">
            <div class="row align-items-center justify-content-between position-relative p-4">
                <div class="col-lg-6">
                    <p>
                        All rights reserved for
                        <a href="#">Pets Zone</a>
                        © 2022 | Powered by
                        <a class="my-color" href="#" target="_blank">
                            iti students
                        </a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between social-media">
                        <h6>Follow Us</h6>
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a target="_blank" href="https://www.twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https:/www.instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a target="_blank" href="https://www.youtube.com">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>