<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Community</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Community</li>
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<div class="p-sm-5 p-4">
    <div class="row m-0">

        <div class="col-lg-4 col-md-6 pt-4" data-aos="zoom-in">
            <app-blog-card></app-blog-card>
      </div> 
  </div>