<section class="about-sec p-sm-5 p-4">

    <div class="row m-0 justify-content-between align-items-center overflow-hidden">
        <div class="col-lg-12" data-aos="fade-down">
            <h2 class="title text-center">Welcome To <br>
                Pet Care Center</h2>
            <div class="icon text-center">
                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 53 7" xml:space="preserve">
                    <g class="nc-icon-wrapper">
                        <path class="st0"
                            d="M0 2.59h.44c.77 0 2.82-2.67 4.58.96 1.23 2.53 3.66 2.4 5.31 0 1.65-2.4 4.26-2.7 6.53 0 1.67 1.99 3.83 2.86 5.53 0 .45-.75 3-3.96 6.03 0 3.17 4.15 5.83 0 5.83 0s2.68-4.33 5.86 0c3.02 4.11 5.25 0 5.25 0s2.31-4.32 5.12 0C51.2 4.64 53 4.56 53 4.56"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="100"></path>
                    </g>
                </svg>
            </div>
        </div>
        <div class="col-lg-5 about-img" data-aos="fade-right">
            <!-- <figure class="about-img">
                <img src="../../assets/images/about.jpg" alt="" />
            </figure> -->
            <svg viewBox="0 0 150 150" class="svg-bg">
                <clipPath id="clippath_65e1cc4d6bf2a">
                    <path d="M92.29,0.96c-13.42,0-24.28,2.68-32.87,7.26c-11.16,5.95-22.49,11.6-34.3,16.12C10.49,29.94,0,44.09,0,60.78
                c0,14.97,8.41,27.86,20.65,34.4c14.1,7.54,27.78,15.84,40.45,25.59c7.48,5.75,16.11,9.19,25.45,9.19
                c29.66,0,59.44-45.84,59.44-75.43C146,24.95,121.95,0.96,92.29,0.96z"></path>
                </clipPath>
                <g>
                    <path d="M128.26,106.04c-5.76-17.88-8.15-36.6-7.5-55.37c1.09-31.3-31.8-46.55-38.41-48.23c-29.2-7.45-56.72,11.91-62.03,39.29c-1.45,7.46-4.47,14.53-9.17,20.5c-4.82,6.11-8.31,13.45-9.91,21.71c-5.25,27.03,11.9,52.96,38.77,58.9c4.34,0.96,8.64,1.33,12.82,1.17c12.43-0.46,24.81,1.2,36.93,3.99c3.18,0.73,6.53,1,9.99,0.73c16.23-1.27,29.19-14.62,30.03-30.89C130,113.7,129.44,109.73,128.26,106.04z"></path>
                </g>
                <g clip-path="url(#clippath_65e1cc4d6bf2a)">
                    <image xlink:href="../../assets/images/about.jpg" width="180" height="180"></image>
                </g>
            </svg>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                labore ut autem fugiat ducimus perferendis distinctio nemo
                tempora? Nobis asperiores sed, accusantium pariatur aperiam dolore
                quis consequuntur illo tenetur nesciunt.Lorem ipsum dolor sit
                amet, consectetur adipisicing elit, do eius mod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad min im veniam, quis
                nostrud exercitati ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>
            <ul class="list-unstyled ">
                <li> <i class="fas fa-check-circle sec-color"></i> <span class="main-color h6"> consectetur adipisicing
                        elit</span></li>
                <li> <i class="fas fa-check-circle sec-color"></i> <span class="main-color h6"> ut labore et dolore
                        magna</span></li>
                <li> <i class="fas fa-check-circle sec-color"></i> <span class="main-color h6"> do eius mod tempor
                        incididunt</span></li>
                <li> <i class="fas fa-check-circle sec-color"></i> <span class="main-color h6"> et dolore magna
                        aliqua</span></li>

            </ul>
            <a href="#" class="btn mt-3">Read More
            </a>
        </div>

    </div>
</section>