<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Clinics</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Clinics</li>
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<section class="p-sm-5 p-4">
<div class="row m-0">
    <div class="col-lg-2">
        <div class="item" data-aos="zoom-in">
            <img src="../../assets/images/clinic-logo.jpeg" alt="#" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="item" data-aos="zoom-in">
            <img src="../../assets/images/clinics-logo2.png" alt="#" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="item" data-aos="zoom-in">
            <img src="../../assets/images/clinic-logo.jpeg" alt="#" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="item" data-aos="zoom-in">
            <img src="../../assets/images/clinics-logo2.png" alt="#" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="item" data-aos="zoom-in">
            <img src="../../assets/images/clinic-logo.jpeg" alt="#" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="item" data-aos="zoom-in">
            <img src="../../assets/images/clinics-logo2.png" alt="#" />
        </div>
    </div>
</div>
</section>