    <div class="event">
      <a href="#">
        <figure>
          <img src="../../assets/images/slide1.jpg" alt="#" />
          <figcaption class="date p-2">
            <span class="month">Dec</span><br />
            <span class="day">19</span>
          </figcaption>
        </figure>
        <div class="figcaption p-3 text-center">
          <h4 class="event-title my-3">
            How Brand Social Value Will Pay a Part in 2022
          </h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum neque corporis recusandae placeat, quia provident cumque. Adipisci eos, perspiciatis voluptatibus optio consequatur, necessitatibus natus laudantium vel delectus ipsam eligendi?
          </p>
          <p class="btn">
            Read More
          </p>
        </div>
      </a>
    </div>
